@{
    ViewData["Title"] = "The Bridge";
}

@* Heading *@
<h1 style="text-align: center;">The Bridge</h1>

<br />


@* Hero Image *@
<div class="row">
    <img src="~/assets/activities/bridge/heroBridge.jpg" alt="A wide shot of a man making his way across a long bridge." style="border-radius: 50px;" />
</div>

<br />

@* Customer Quote *@
<div class="row">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="mb-0">Etiam gravida, diam in aliquet pharetra, nulla massa consectetur tellus, bibendum maximus magna diam non nunc.</p>

        </blockquote>
        <figcaption class="blockquote-footer">
            Customer Name
        </figcaption>
    </figure>
</div>

<br />

@* Row of Images *@
<div class="row">
    <div class="col-lg-4">
        <img class="dropshadow-img" src="~/assets/activities/bridge/bridge1.jpg" alt="A monkey stood on a rope bridge." />
    </div>
    <br />
    <div class="col-lg-4">
        <img class="dropshadow-img" src="~/assets/activities/bridge/bridge2.jpg" alt="The end of a rope bridge, heading into the trees." />
    </div>
    <br />
    <div class="col-lg-4">
        <img class="dropshadow-img" src="~/assets/activities/bridge/bridge3.jpg" alt="The end of a bridge, that heads off onto another path." />
    </div>
</div>

<br />
<br />

@* Safari Information *@
<div class="row">
    <p>
        Morbi vestibulum tempus ante, in mollis lectus tempus eu. Proin ultrices purus eget turpis aliquam, feugiat fermentum elit hendrerit. Donec vitae dolor tristique, vehicula nibh at, bibendum sem. Nam vitae metus vulputate, pretium neque sed, volutpat eros. Sed porttitor placerat tristique. Nulla sollicitudin commodo purus, a commodo ex tempor nec. Aenean vel ipsum ut neque ullamcorper iaculis eu nec neque. Integer interdum nisi lobortis consequat aliquet. Sed vel mi eros. Quisque dapibus ante a mauris laoreet tristique.
    </p>
    <p>
        Aliquam erat volutpat. Curabitur felis risus, molestie sed ex non, semper tempor lectus. Ut dictum lectus erat. Morbi lorem magna, sollicitudin non ultricies at, mollis at metus. Suspendisse rutrum ultricies pharetra. Sed sit amet dolor eu libero imperdiet rutrum elementum sed lorem. Morbi eleifend eleifend turpis vitae facilisis. Vivamus at nibh non orci gravida maximus.
    </p>
    <p>
        Sed eu enim a odio euismod bibendum. Ut convallis nisi sapien, eget sollicitudin tortor vestibulum nec. Sed eu sollicitudin mauris, vel viverra lacus. Integer non ullamcorper magna, et porta nisl. Nunc nec metus massa. Nam vestibulum feugiat libero, non varius velit porttitor ut. Praesent et urna condimentum, laoreet augue ac, sodales elit. Sed lobortis, dui at volutpat rhoncus, odio lectus varius ante, eget ullamcorper erat mi id leo. Curabitur congue interdum dolor in convallis. Cras a laoreet massa.
    </p>
</div>

@* Button to Book Activity *@
<div class="row">
    <a><button class="btn btn-primary btn-lg" style="width: auto; margin: auto; display: block;">Book Activity</button></a>
</div>