@{
    ViewData["Title"] = "Feeding";
}

@* Heading *@
<h1 style="text-align: center;">Feeding</h1>

<br />


@* Hero Image *@
<div class="row">
    <img src="~/assets/activities/feeding/heroBirds.jpg" alt="Multiple birds flying towards a woman's hand as she holds out seeds to feed them with." style="border-radius: 50px;" />
</div>

<br />

@* Customer Quote *@
<div class="row">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="mb-0">Cras a dignissim risus. Etiam quis dictum justo, sit amet condimentum justo. Maecenas tristique lacus mauris.</p>

        </blockquote>
        <figcaption class="blockquote-footer">
            Customer Name
        </figcaption>
    </figure>
</div>

<br />

@* Row of Images *@
<div class="row">
    <div class="col-lg-4">
        <img class="dropshadow-img" src="~/assets/activities/feeding/parrot.jpg" alt="A green parrot sat on someone's hand which holds seeds to feed it with." />
    </div>
    <br />
    <div class="col-lg-4">
        <img class="dropshadow-img" src="~/assets/activities/feeding/antelope.jpg" alt="An antlope being hand-fed by someone." />
    </div>
    <br />
    <div class="col-lg-4">
        <img class="dropshadow-img" src="~/assets/activities/feeding/giraffe.jpg" alt="A giraffe eating from a box filled with food." />
    </div>
</div>

<br />
<br />

@* Safari Information *@
<div class="row">
    <p>
        Quisque tortor nisl, consectetur quis dolor vitae, dignissim volutpat elit. Donec dignissim vulputate pharetra. In hac habitasse platea dictumst. Sed sed molestie ante, a cursus magna. Aenean et congue erat. Aliquam consectetur nibh elit, vitae luctus neque hendrerit nec. Mauris finibus quis mi ac sagittis. Proin consequat odio vitae metus elementum viverra. Vestibulum ut elementum risus, eu vehicula mi. Sed lobortis mauris at quam hendrerit, ut fringilla turpis tincidunt. Mauris at enim nec libero blandit tempor quis sed justo.
    </p>
    <p>
        Suspendisse dictum ac risus ut vulputate. Mauris efficitur porttitor diam, vel blandit risus porttitor at. In non ullamcorper lacus. Quisque sit amet dapibus purus. Quisque sed accumsan diam. Maecenas sed neque diam. Fusce congue volutpat dapibus.
    </p>
    <p>
        Fusce suscipit porttitor tortor, sed aliquet dui. Praesent commodo euismod pulvinar. Donec et nunc non lacus tempor lobortis id non tellus. Ut egestas feugiat massa sit amet venenatis. Praesent sit amet velit eu eros egestas euismod et porta ex. In hac habitasse platea dictumst. Nulla efficitur, metus quis elementum faucibus, justo metus bibendum ex, sit amet laoreet libero ante sed leo. Mauris aliquam accumsan pretium. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
</div>

@* Button to Book Activity *@
<div class="row">
    <a><button class="btn btn-primary btn-lg" style="width: auto; margin: auto; display: block;">Book Activity</button></a>
</div>