@{
    ViewData["Title"] = "Safari";
}

@* Heading *@
<h1 style="text-align: center;">Safari</h1>

<br />


@* Hero Image *@
<div class="row">
    <img src="~/assets/activities/safari/zebras.jpg" alt="A herd of zebras running in a field of long grass." style="border-radius: 50px;" />
</div>

<br />

@* Customer Quote *@
<div class="row">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="mb-0">Nulla ante mi, pellentesque eu rhoncus at, interdum quis sapien. Maecenas ac aliquam lorem, non pulvinar eros.</p>

        </blockquote>
        <figcaption class="blockquote-footer">
            Customer Name
        </figcaption>
    </figure>
</div>

<br />

@* Row of Images *@
<div class="row">
    <div class="col-lg-4">
        <img class="dropshadow-img" src="~/assets/activities/safari/safari1.jpg" alt="A safari truck parked beside a tree with people gathering around the truck." />
    </div>
    <br />
    <div class="col-lg-4">
        <img class="dropshadow-img" src="~/assets/activities/safari/safari2.jpg" alt="A safari truck with a group of antelopes running past it." />
    </div>
    <br />
    <div class="col-lg-4">
        <img class="dropshadow-img" src="~/assets/activities/safari/safari3.jpg" alt="A safari truck parked underneath a tree." />
    </div>
</div>

<br /><br />

@* Safari Information *@
<div class="row">
    <p>
        Donec nec euismod nunc, in eleifend nisi. Vivamus sit amet auctor tellus. Cras tincidunt tincidunt sem in posuere. Integer commodo nunc justo, non venenatis lorem feugiat eu. Nunc aliquet, elit eget malesuada rhoncus, lectus lorem tincidunt nisl, nec consectetur arcu nisl dignissim orci. Sed a neque luctus, scelerisque mauris eget, pellentesque magna. Duis nec varius quam, at semper leo. Nulla enim nibh, feugiat in nisi ut, tempus cursus orci. Duis faucibus dignissim eros, vel luctus ante pharetra id. Cras at neque mi. Donec sed finibus odio.
    </p>
    <p>
        Praesent non est quis tellus iaculis viverra nec sit amet turpis. In ut mi quis sapien sollicitudin bibendum in non erat. Nam ullamcorper sapien quis nibh lacinia blandit a quis purus. Ut vulputate risus tortor, ut finibus dui gravida id. Etiam efficitur eu ipsum at volutpat. Aenean suscipit dui id consectetur pulvinar. Morbi enim lectus, cursus in metus fermentum, hendrerit commodo tortor. Pellentesque tempus sollicitudin ornare. Sed fringilla sollicitudin arcu facilisis tempus. Duis non nisi non turpis auctor mattis ut at erat.
    </p>
    <p>
        Vivamus nec est quam. Integer a aliquam ligula. Donec sit amet lorem mattis, gravida est vel, tristique metus. Etiam at diam commodo, tristique neque nec, tincidunt justo. Praesent sed iaculis turpis, nec congue quam. Proin odio lacus, vestibulum varius nunc vel, iaculis rutrum massa. Morbi convallis ex nec risus lobortis facilisis at sed urna.
    </p>
</div>

@* Button to Book Activity *@
<div class="row">
    <a><button class="btn btn-primary btn-lg" style="width: auto; margin: auto; display: block;">Book Activity</button></a>
</div>